@model BookDetailViewModel

@{
    ViewData["Title"] = "Kitap Detayları";
}


<h2>📚 @Model.Title</h2>

<table class="table-custom">
    <tr>
        <th>Tür</th>
        <td>@Model.Genre</td>
    </tr>
    <tr>
        <th>Yayın Tarihi</th>
        <td>@Model.PublishDate.ToString("dd MMMM yyyy")</td>
    </tr>
    <tr>
        <th>Kopya Sayısı</th>
        <td>@Model.CopiesAvailable</td>
    </tr>
    <tr>
        <th>Yazar</th>
        <td>@Model.AuthorFullName</td>
    </tr>
    <tr>
        <th>Yazar Doğum Tarihi</th>
        <td>
            @(Model.AuthorBirthDate == DateTime.MinValue
                        ? "Bilinmiyor"
                        : Model.AuthorBirthDate.ToString("dd MMMM yyyy"))
        </td>
    </tr>
</table>


<a asp-action="List" class="btn btn-secondary mt-3">← Kitap Listesine Dön</a>